.paginationPokemons {
    display: grid;
    gap: 10px;
    grid-auto-rows: 1fr;
    grid-template-columns:repeat(auto-fill, minmax(300px ,1fr ));
    justify-content: space-around;
    margin-top: 30px;
}
