.nav{
    width: 90%;
    height: 100px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(243, 243, 243); */
}

.nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 0 10px;
    font-size: 20px;
}

.nav img{
    height: 70px;
    width: auto;
    cursor:pointer;
}
.imgHome{
    height: 50px;
    width: 50px;
}

.h1Home{
    font-size: 50px;
    margin: auto 30px;
}
.createPokemonLink{
    text-decoration: none;
}
